<div class="todoList">
    <h2>{{title}}</h2>
    <form (submit)="addTodo(); $event.preventDefault();">
        <input 
            type="text" 
            [(ngModel)]="newTodoTitle"
            name="newTodo" 
            placeholder="Entrer un nouveau Todo" />
        <button (click)="addTodo()" type="submit">Ajouter</button>
    </form>
    <ul>
        @for (todoItem of todos; track todoItem.title) {
            <app-todo-item [todoItem]="todoItem"></app-todo-item>
        }
    </ul>
</div>